{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{%  block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autofocus type="password" name="current_password" placeholder="Current Password" class="form-control mx-auto w-auto" required>
        </div>
        <div class="mb-3">
            <input autofocus type="password" name="password" placeholder="New Password" class="form-control mx-auto w-auto" oninput="checkPassword()">
        </div>
        <div class="mb-3">
            <input autofocus type="password" name="confirm_password" placeholder="Confirm Password" class="form-control mx-auto w-auto">
        </div>
        <div id="passwordHelpBlock" class="form-text">
            <p>Your password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, one number, and one special character.</p>
        </div>
        <button class="btn btn-primary" type="submit" id="register-btn" disabled>Change Password</button>
    </form>

    <script>
        const passwordInput = document.getElementByName("password")[0];
        passwordInput.addEventListener("keyup", checkPassword);
    </script>
{% endblock %}