{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/login" method="post">
                    <label class="form-label mt-4">Log In to C$50 Finance</label>
                    <div class="form-floating mb-3">
                        <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                        <label class="form-label text-center" for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                        <label class="form-label text-center" for="password">Password</label>
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}